<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8"/>
  <title>OptiFleet — Rota por Endereço</title>

  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    crossorigin=""
  />
  <script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    crossorigin=""
  ></script>

  <style>
    body { margin: 0; }
    #map { height: 100vh; width: 100vw; }
  </style>
</head>
<body>
  <div id="map">
    {{ map_html|safe }}
  </div>
</body>
</html>
